[core]
	filemode = false
	autocrlf = input
	safecrlf = true
[init]
	defaultBranch = main
[user]
	name = Ian Roberts
	email = ian.roberts@cantab.net
[pull]
	rebase = false
[push]
	default = simple
[color]
	ui = auto
[alias]
	graph = log --oneline --decorate --graph --all
